<%#= Partial: inicia com _ %>

<ul>
    <li>
        <%#= link_to 'Cadastro de Moedas', '/coins' %>
        <%= link_to 'Cadastro de Moedas', coins_path %>
    </li>
        <%= link_to 'Cadastro de Tipos de Mineração', mining_types_path %>
    </li>
</ul>